$contentBackground: #3b3b3b;
$headerColor: #fccd10;
$textColor: #fff;
$posterColor: #fff178;
$linkColor: #f5c70f;
$tableHeaderColor: #94a34e;
$tableColor: #677d01;
$borderImg: $headerColor;
$inputColor: $headerColor;
$btnColor: $headerColor;