$themePrimaryColor: #dcbb9a;
$contentBackground: #fff;
$posterColor: #fadcba;
$headerColor: #893c00;
$borderImg: $headerColor;
$textColor: #000;
$btnColor: #3d70a1;
$tableColor: #e0e0e0;
$inputColor: #808080;